@import "tailwindcss";

:root {
  --background: #FCFCFC;
  --main: #0C1657;
  --sub: #D3AE1A;
  --par: #808080;
  --font-mont: 'Montserrat', sans-serif;
  --font-rubik: 'Rubik Dirt', sans-serif;
  --font-grotesk: 'Space Grotesk', sans-serif;  
}

@theme inline {
  --color-background: var(--background);
  --font-grotesk: var(--font-grotesk);
  --font-mont: var(--font-mont);
  --font-rubik: var(--font-rubik);
  --color-main: var(--main);
  --color-sub: var(--sub);
  --color-par: var(--par);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCFCFC;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
font-family: var(--font-mont); /* Main font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  /* --sub: #D3AE1A; */
/* Navbar Additional Styling */
.scrollNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #101f82ef;
  z-index: 20;
  /* padding: 130px; */
  /* display: hidden; */
  justify-content: space-between;
  padding: 20px 40px;
  /* place-content: center; */
  align-items: center;
  color: white;
  box-shadow: 0px 0px 2px 1px #4d464623;
  transition: 0.5s all ease-in-out;
  box-shadow: 0px 0px 10px 0px var(--box-shadow);
  backdrop-filter: blur(6px) saturate(147%);
  -webkit-backdrop-filter: blur(6px) saturate(147%);
}
/* Overlay */
.overlay {
  width: 100%;
  /* height: 100vh; */
  background: rgba(2, 17, 99, 0.498);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}
.glass {
  background: rgba(249, 249, 249, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(249, 249, 249, 0.548);
}

.glassmorphism_white{
  background: rgba(249, 249, 249, 0.797);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(249, 249, 249, 0.548);
}

#ripple {
  animation-name: ripple;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
  }

  80% {
    box-shadow: 0 0 0 6px #fff0, 0 0 0 14px #fff0;
  }

  100% {
    box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
  }
}
/* About us */

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Responsive */
@media (max-width: 760px) {
  .scrollNav {
    padding: 20px;
  }
}


.no-scrollbar {
  -mss-overflow-style: none;
  scrollbar-width: none; 
}


/* mask */
.middle{
  mask-image: url('/Gallery/middle.png');
  -webkit-mask-image: url('/Gallery/middle.png');
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
.middle,
.topleft,
.topright,
.bottomleft,
.bottomright {
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  &.middle{
    mask-image: url('/Gallery/middle.png');
    -webkit-mask-image: url('/Gallery/middle.png');
  }
  
  &.topleft {
    mask-image: url('/Gallery/tl.png');
    -webkit-mask-image: url('/Gallery/tl.png');
  }

  &.topright {
    mask-image: url('/Gallery/tr.png');
    -webkit-mask-image: url('/Gallery/tr.png');
  }

  &.bottomleft {
    mask-image: url('/Gallery/bl.png');
    -webkit-mask-image: url('/Gallery/bl.png');
  }

  &.bottomright {
    mask-image: url('/Gallery/br.png');
    -webkit-mask-image: url('/Gallery/br.png');
  }
}
