@import "tailwindcss";

:root {
  --background: #FCFCFC;
  --main: #0C1657;
  --sub: #D3AE1A;
  --par: #808080;
}

@theme inline {
  --color-background: var(--background);
  /* --color-foreground: var(--foreground); */
  --font-grotesk: var(--font-grotesk);
  --color-main: var(--main);
  --color-sub: var(--sub);
  --color-par: var(--par);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCFCFC;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family:  Arial, Helvetica, sans-serif;
}
  /* --sub: #D3AE1A; */
/* Navbar Additional Styling */
.scrollNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #101f82ef;
  z-index: 20;
  /* padding: 130px; */
  /* display: hidden; */
  justify-content: space-between;
  padding: 20px 40px;
  /* place-content: center; */
  align-items: center;
  color: white;
  box-shadow: 0px 0px 2px 1px #4d464623;
  transition: 0.5s all ease-in-out;
  box-shadow: 0px 0px 10px 0px var(--box-shadow);
  backdrop-filter: blur(6px) saturate(147%);
  -webkit-backdrop-filter: blur(6px) saturate(147%);
}
/* Overlay */
.overlay {
  width: 100%;
  /* height: 100vh; */
  background: rgba(2, 17, 99, 0.498);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}
.glass {
  background: rgba(249, 249, 249, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(249, 249, 249, 0.548);
}

.glassmorphism_white{
  background: rgba(249, 249, 249, 0.797);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(249, 249, 249, 0.548);
}